.baitap1{
    padding: 20px 0;
}
.baitap{
    padding: 20px 0;
}
h2{
    font-family: 'Nunito', sans-serif;
    color: hotpink;
    padding-left: 15px;
}
button .bu1{
    border-radius: 25px;
    letter-spacing: 1px;
    background-color: #4b70e2;
    color: #f9f9f9;
    border: none;
    outline: 0;
    padding: 10px 40px;
    transform: scale(1);
    margin: 10px 15px;
}

.end{
    background-color: #d1e7dd;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid #badbcc;
    margin: 20px 15px;
    color: #0f5132
}
i{
    color: rgb(201, 201, 52);
    margin-left: 20px;
}
.row{
    padding: 0 15px;
}